@model IPagedList<Models.DetailedTrail>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewData["Title"] = "ReturnTrailsFromDataBase";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Rodzaj Aktywności
            </th>
            <th>
                Link do Traseo
            </th>
            <th>
                Tytuł
            </th>
            <th>
                Dystans
            </th>
            <th>
                Czas trwania
            </th>
            <th>
                Lokalizacja
            </th>
            <th>
                Dostępne akcje
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KindOfActivity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    <button class="btn btn-primary">@Html.ActionLink("Usuń", "DeleteTrail", new { id = item.Id}, new { style="color:White;text-decoration-color: White;"})</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    @Html.PagedListPager(Model, page => Url.Action("ReturnTrailsFromDataBase", new { page }),
new PagedListRenderOptions
{
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },
    MaximumPageNumbersToDisplay = 3
})
</div>
